@charset "UTF-8";

/* 基本 */
body {
    margin: 0;
    background-color: #eeeeee;
}

/* 横幅と左右の余白 */
.w-container {
    width: min(92%, 1166px);
    margin: auto;
}

/* ヘッダー */
.headar {
    height: 112px;
    background-color: white;
}

.header-conntainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}